.postActions {
  &__left {
    &-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
    }
  }

  &__icon-body {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-right: 10px;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &--comment {
      width: 1.5rem;
      height: 1.5rem;
    }

    &-info {
      font-size: 1.4rem;
      color: rgb(165, 163, 163);
      margin-left: 1rem;
    }
  }
}
