.react-quill {
  position: relative;
  width: 100%;
  min-height: 20rem;
  margin-top: 3rem;

  &__label {
    font-family: Roboto;
    font-size: 1.1rem;
    color: #7d8c96;
  }

  &__content {
    margin-top: 1rem;
  }

  .quill {
    position: relative;

    float: left;
    width: 100%;
  }
  .ql-toolbar.ql-snow {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .ql-container.ql-snow {
    height: calc(200px - 42.3px);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
