.landing {
  width: 100%;
  height: 100%;
  position: relative;

  // header
  .header {
    width: 100%;
    height: 100%;
    background-image: url('https://miro.medium.com/max/349/4*BIK9VGjeCj2TaTDw4id2nA.png');
    background-repeat: no-repeat;
    background-position: bottom 0 right 5rem;
    background-color: rgb(219, 255, 255);

    @include respond(tab-port) {
      background-image: none;
    }

    &__content {
      padding: 4rem 0;
      width: 42%;

      @include respond(tab-land) {
        width: 60%;
      }

      @include respond(tab-port) {
        width: 65%;
      }

      @include respond(phone) {
        width: 100%;
      }
    }

    &__title {
      font-size: 6.2rem;
      font-weight: bold;

      @include respond(phone) {
        font-size: 5rem;
      }
    }

    &__text {
      margin-top: 1rem;
      font-size: 2rem;
    }

    &__btn {
      padding: 1.2rem 2rem;
      border-radius: 3rem;
      background-color: $color-white;
      border: 2px solid rgb(187, 228, 245);
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  }
}
