.createPost {
  &__content {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
  }

  &__form {
    width: 80%;
    margin: 0 auto;
  }

  &__dropdown {
    width: 50% !important;
  }

  .multiSelect {
    width: 50% !important;
    margin: 0 !important;
    margin-top: 3rem !important;

    &__label {
      font-size: 1.2rem !important;
    }

    &__text {
      span {
        font-size: 1.4rem !important;
      }
    }
  }

  &__nameInput {
    width: 50% !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.46) !important;
  }

  &__inputFile {
    width: 50% !important;
  }
}
